<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.system.mapper.QueMapper">
    <sql id="countQueDetailSql" >
        SELECT
        COUNT(1)
        FROM
        m_que_table u
        WHERE 1 = 1
        <if test="que.queTitle != null and que.queTitle != ''">
            AND u.que_title = #{que.queTitle}
        </if>

    </sql>

    <sql id="findQueDetailSql">
        SELECT
        u.QUE_ID queId,
        u.QUE_TITLE,
        u.QUE_A,
        u.QUE_B,
        u.QUE_C,
        u.QUE_D
        FROM
        m_que_table u
        WHERE 1 = 1
        <if test="que.queTitle != null and que.queTitle != ''">
            AND u.QUE_TITLE = #{que.queTitle}
        </if>

    </sql>

    <select id="countQueDetail" parameterType="que" resultType="long">
        <include refid="countQueDetailSql"/>
    </select>

    <select id="findQueDetailPage" parameterType="que" resultType="que">
        <include refid="findQueDetailSql"/>
    </select>

    <select id="findQueDetail" parameterType="que" resultType="que">
        <include refid="findQueDetailSql"/>
    </select>




    <select id="findByName" parameterType="string" resultType="que">
        SELECT
        u.que_id queid,
        u.que_title,
        u.que_a,
        u.que_b,
        u.que_c,
        u.que_d,

        FROM
        m_que_table u

        WHERE  u.que_title = #{queTitle}

    </select>


</mapper>
